SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_ORGANIZATION_ID=
SUPABASE_SECRET_KEY=
CAREERS_ORIGIN=https://www.dhanmondiplaza.com
CAREERS_APPLICATIONS_ENABLED=false
CAREERS_RATE_LIMIT_SECRET=
CAREERS_PREVIEW=false
OS_ORIGIN=https://os.dhanmondiplaza.com
